body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

* {
    box-sizing: border-box;
}

th {
    background-color: aliceblue !important;
}

.background {
    position: absolute;
    background-image: url("@/assets/image.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
